<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>gPin</title>
</head>
<body class="container" style="padding-top: 60px">
  <nav class="navbar navbar-default navbar-fixed-top navbar transparent">
    <a class="navbar-brand" href="/pins">gPin</a>
    <form class="navbar-form navbar-right" role="search" action="/searchresults">
      <div class="form-group">
        <a href="/pins/new" class="btn btn-default newBtn">New Pin</a>
             <!-- <a href="/logout" class="btn btn-default">Log Out</a> -->
      </div>
    </form> 
  </nav>
</body>
</html>